/* Ostrich Sans */

@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich-black.eot');
	src: local('☺'), url('../fonts/ostrich-black.woff') format('woff'), url('../fonts/ostrich-black.ttf') format('truetype'), url('../fonts/ostrich-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich-bold.eot');
	src: local('☺'), url('../fonts/ostrich-bold.woff') format('woff'), url('../fonts/ostrich-bold.ttf') format('truetype'), url('../fonts/ostrich-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich-regular.eot');
	src: local('☺'), url('../fonts/ostrich-regular.woff') format('woff'), url('../fonts/ostrich-regular.ttf') format('truetype'), url('../fonts/ostrich-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich-light.eot');
	src: local('☺'), url('../fonts/ostrich-light.woff') format('woff'), url('../fonts/ostrich-light.ttf') format('truetype'), url('../fonts/ostrich-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

/* Ostrich Sans Dashed */

@font-face {
	font-family: 'Ostrich Sans Dashed';
	src: url('../fonts/ostrich-dashed.eot');
	src: local('☺'), url('../fonts/ostrich-dashed.woff') format('woff'), url('../fonts/ostrich-dashed.ttf') format('truetype'), url('../fonts/ostrich-dashed.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Rounded */

@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('../fonts/ostrich-rounded.eot');
	src: local('☺'), url('../fonts/ostrich-rounded.woff') format('woff'), url('../fonts/ostrich-rounded.ttf') format('truetype'), url('../fonts/ostrich-rounded.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Ostrich Sans Inline */

@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('../fonts/ostrich-sans-inline-regular.eot');
	src: local('☺'), url('../fonts/ostrich-sans-inline-regular.woff') format('woff'), url('../fonts/ostrich-sans-inline-regular.ttf') format('truetype'), url('../fonts/ostrich-sans-inline-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('../fonts/ostrich-sans-inline-italic.eot');
	src: local('☺'), url('../fonts/ostrich-sans-inline-italic.woff') format('woff'), url('../fonts/ostrich-sans-inline-italic.ttf') format('truetype'), url('../fonts/ostrich-sans-inline-italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

/* Junction */

@font-face {
	font-family: 'Junction';
	src: url('../fonts/Junction-webfont.eot');
	src: local('☺'), url('../fonts/Junction-webfont.woff') format('woff'), url('../fonts/Junction-webfont.ttf') format('truetype'), url('../fonts/Junction-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* icomoon */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}