@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin rem-size($prop, $sizeValue) {
    #{$prop}: ($sizeValue * 10) + px;
    #{$prop}: $sizeValue + rem;
}

@mixin hab_balloon($size,$bg,$fs,$z,$t,$l) {
    @include rem-size("width", $size);
    @include rem-size("height", $size);
    
    background: $bg;
    z-index: $z;
    top: $t;
    left: $l;
    h1 {
        @include font-size($fs);
        @include rem-size("line-height", $size*1.05);
    }

    &.expanded {
        box-shadow:0 0 0 10px $bg;
        div {
            background: none;
        }        
    }

}

@mixin hab_square($bg){
    background: $bg;
    &.expanded {
      div {
        background: $bg;
      }
    }
}