@media only screen and (max-width: 640px) {
	/* ==========================================================================
   Section TRABAJOS
   ========================================================================== */
  .trabajos {
		li {
			width: 100%;
		}

		article,
		article aside img {
			width: 100%;
		}
	}

/* ==========================================================================
   Section CONTACTO
   ========================================================================== */
	.contacto {
	  .contact-info {
	    @include font-size(3);	
	  }
	}
}