@media only screen and (min-width: 641px) and (max-width: 979px) {
	/* ==========================================================================
   Section TRABAJOS
   ========================================================================== */
  .trabajos {
		li {
			width: 48.5%;
			margin-right: 2%;
      		&:nth-child(2n) { margin-right: 0; }
		}

		article {
			@include rem-size("width", 68.9);
		}
	}
}