@media only screen and (min-width: 980px) {
    /* Style adjustments for viewports that meet the condition */
    header[role="banner"] {
    	min-height: 900px;
      
      > div {
        width: 50%;
      }
    }

    /* ==========================================================================
   Section TRABAJOS
   ========================================================================== */
   .trabajos {

    > h1 {
      display: block;
      @include rem-size("width", 80);
      margin: 0 auto;
    }

    > ul {
      @include rem-size("width", 98);
      margin: 0 auto;
    }

    li {
      @include rem-size("width", 31);
      &:nth-child(3n) { margin-right: 0; }
    }

    article {
      @include rem-size("width", 102);

      &> div {
        float: right;
        @include rem-size("width", 29.1);
      }
      aside {
        float: left;
        box-shadow: 3px 0 5px rgba(0,0,0,.15);
        @include rem-size("width", 68.9);
      }
    }

   }
    /* ==========================================================================
   Section HABILIDADES
   ========================================================================== */
  .habilidades {
    margin: 0 auto;
    width: 980px;
    @include rem-size("height", 75);

    ul { 
      overflow: inherit;
    }

    li {
      border-radius: 50%;
      text-align: center;


      position: absolute;

      box-shadow: -2px 2px 5px rgba(0,0,0,.25);


      &:hover {
        z-index: 10;
      }

      div { display: none; }

      &.expanded {
        @include rem-size("width", 92);
        @include rem-size("height", 92);
        left:0;
        top: 0;
        border: 3px solid $white;
        h1{
          @include font-size(11);
          @include rem-size("margin-top", 10);
          line-height: 1;
        }
        div {
          display: block;
          shape-inside: circle;
          -webkit-shape-inside: circle;
          padding:0 10%;
          @include font-size(3);
          text-transform: none;
          position: relative;
          top: auto;
          left: auto;
        }
      }

    }
    /*$size,$bg,$fs,$z,$t,$l*/
    .html { @include hab_balloon($hw, #e44d26, 14.5, 1, 126px, 0); }
    .php { @include hab_balloon($hw*0.75, #2d78a0, 14.5, 2, 329px, 165px); }
    .git { @include hab_balloon($hw*0.8, #fa4e28, 15.8, 3, 0, 242px); }
    .magento { @include hab_balloon($hw*0.7, #ef672f,5.7, 4, 283px, 448px); }
    .javascript { @include hab_balloon($hw*0.8, #e7d13d, 6.7, 5, 156px,269px); }
    .sass { @include hab_balloon($hw*0.75, #c6538c,12, 6, 72px, 480px); }
    .wordpress { @include hab_balloon($hw*0.6, #505050, 4.4, 9, 193px, 615px); }
    .drupal { @include hab_balloon($hw*0.75, #064771,8.8, 7, 291px, 656px); }
    .css { @include hab_balloon($hw, #0070ba,20.8, 8, 12px, 667px); }    
  }
}