/* Webfonts */

$os: 'Ostrich Sans';
$osd: 'Ostrich Sans Dashed';
$osr: 'Ostrich Sans Rounded';
$osi: 'Ostrich Sans Inline';
$j: 'Junction';


/* Colors */
$white: #fff;
$light_gray: #f0f0f0;
$dark_gray: #d5d5d5;
$dark_green: #87aa1e;
$light_green: #bed741;
$dark_blue: #0f324b;
$light_blue: #2d78a0;

/* */
$gap: 20px;

/* Habilidades */
$hw: 31.3;