/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import "mixins";
@import "fonts";
@import "variables";
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $dark_blue;
    font-family: $j;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html { 
    font-size: 62.5%;
}
body {
  background: $light_gray;
 @include font-size(1.5);
 line-height: 1.4;

 &> section {
  @include rem-size("padding-top", 15.3);
  @include rem-size("padding-bottom", 15.3);
 }
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e604";
}
.icon-twitter2:before {
  content: "\e605";
}


/* ==========================================================================
   Section HEADER
   ========================================================================== */
header[role="banner"]{
  background: url(header-bg.jpg) 50% 100% no-repeat;
  background-size: cover;
  text-align: center;

  > div {
    width: 85%;
    margin: 0 auto;
  }

  h1, h2 {
    font-family: $os;
    text-align: center;
    margin: 0;
    color: $white;
    position: relative;
    line-height: 1;
      &:before,
      &:after {
        content: '';
        position: absolute;
    }
  }
  h1 {
    font-weight: 700;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    padding: 25px 0 0;
    display: inline-block;
    @include rem-size("margin-top",26.5);
    @include font-size(10.4);

    &:before,
    &:after {
      border-bottom: 2px solid $white;
      top: -6px;
      left: 0;
      width: 100%;
    }
    &:after {
      top: auto;
      bottom: -6px;
    }
  }
  h2 {
    font-weight: 400;
    clear: both;
    @include font-size(5.1);
    display: block;
    margin: 10px auto 0;


    &:before,
    &:after {
      height: 2px;
      width: 130px;
      background: 2px;
      background: $white;
      left: 0;
      top: 48%;
      box-shadow: 0 -4px 0 0px $white;
    }
    &:after {
      left: auto;
      right: 0;
    }
  }
}

/* ==========================================================================
   Section ABOUT
   ========================================================================== */
.about {
  text-align: center;

  strong{
    color: $dark_green;
    font-family: $os;
    font-weight: 400;
    @include font-size(18.5);
  }
}

/* ==========================================================================
   Section TRABAJOS
   ========================================================================== */
.trabajos {
  background: $white url(works-bg.jpg) 50% 0 no-repeat;
  background-size: contain;

  h1 {
    font-family: $os;
    font-weight: 700;
    color: $dark_blue;
    @include font-size(10.4);
    text-align: center;
    margin: 0;
  }

  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin: 0 $gap $gap 0;
  }

  .img-container img { 
    max-width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.4\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    filter: grayscale(40%);
  }
  .img-container img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'1\'/></filter></svg>#grayscale"); /* Firefox 10+ */  
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  article {
    display: none;
    position: absolute;
    z-index: 12;
    background: $light_gray;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;

    &.show {
      display: block;                
    }

    &> div {
      padding: 0 $gap;

      h1 {
        font-family: $os;
        font-weight: 900;
        @include font-size(2.6);
        color: $dark_blue;
        text-align: left;
      }

    }
    div[data-attr="pie"],
    div[data-attr="pie"] > svg {
      @include rem-size("width", 17.2);
      @include rem-size("height", 17.2);
    }
    div[data-attr="pie"] { position: relative; }
    div[data-attr="pie"] > svg { position: absolute !important; top: 0; bottom: 0; }
    div[data-attr="pie"] > span {
      text-transform: uppercase;
      text-align: center;
      display: block;
      color: $dark_blue;
      font-family: $os;
      @include rem-size("padding-top", 5);
      @include font-size(2.9);
      strong {
        @include font-size(4.6);
        font-weight: 900;
        display: block;
        line-height: 1;
      }
      
    }

    aside {
      position: relative;
      background-position: 0 0;
      background-repeat: no-repeat;
      padding: 2*$gap 0;
    }

    li {
      display: inline-block;
    }
  }

  .view-project {
    display: inline-block;
    width: 100%;
    color: $dark_blue;
    background: $light_green;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    @include rem-size("height", 6.7);
    @include rem-size("line-height", 6.7);
    @include font-size(3.1);

    &:hover {
      color: $light_blue;
      background: $dark_green;
    }

  }

  ul.tags {
    li {
      display: inline-block;
      background: $white;
      color: $dark_blue;
      border: 1px solid $dark_gray;
      padding: 5px 8px 1px;
      padding: 0.5rem 0.8rem 0.1rem;
      cursor: default;
      width: auto;

      @include rem-size("margin-right", 1);
      @include rem-size("margin-bottom", 0.7);
      @include user-select(none);

      &:nth-child(3n) { @include rem-size("margin-right", 1); }    

      &:hover {
        border: 1px solid $dark_blue;
      }
    }
  }
}


/* ==========================================================================
   Section HABILIDADES
   ========================================================================== */
.habilidades {

  h1 {
    font-family: $os;
    font-weight: 400;
    color: $dark_green;
    @include font-size(18.5);
    text-align: center;
    margin: 0;
    line-height: 1;
  }

  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    position:relative;
    overflow: hidden;
  }

  li {
    color: $light_gray;
    text-transform: uppercase;
    cursor: pointer;
    @include user-select(none);
    display: inline-block;
    width: 33.3333%;
    float: left;

    h1{
      font-family: $os;
      font-weight: 400;
      margin: 0;
      color: $light_gray;
    }

    &.expanded {

      z-index: 10;
      text-shadow: 1px 1px 2px rgba(0,0,0,.2);
      
      div {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
        padding: 10%;
        z-index: 10;
      }
    }
  }

  div { display: none; }

  .html { @include hab_square(#e44d26); }
  .php { @include hab_square(#2d78a0); }
  .git { @include hab_square(#fa4e28); }
  .magento { @include hab_square(#ef672f); }
  .javascript { @include hab_square(#e7d13d); }
  .sass { @include hab_square(#c6538c); }
  .wordpress { @include hab_square(#505050); }
  .drupal { @include hab_square(#064771); }
  .css { @include hab_square(#0070ba); }

}

/* ==========================================================================
   Section CONTACTO
   ========================================================================== */
.contacto {
  background: $light_blue;
  color: $light_gray;
  text-align: center;

  h1{
    font-family: $os;
    font-weight: 400;
    color: $light_gray;
    @include font-size(18.5);
    margin: 0;
    line-height: 1;
  }
  a {
    color: $light_gray;
    text-decoration: none;
  }
  img {
    border-radius: 304px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  }
  .contact-info {
    @include font-size(4.4);
    font-family: $j;
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
  }
  .icons {
    @include font-size(8);
    margin: 0;
    & a:hover {
      color: $dark_blue;
    }
  }
  .footer-text {
    @include font-size(1.2);
    @include rem-size("margin-top", 5)
  }
}   
/** GENERIC **/
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 11;
}
.cover-habs {
  background: rgba(255,255,255,.8);
  z-index: 9;
}


@import "helper";

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@import "_mq640";
@import "_mq641-979";
@import "_mq980";
@import "_2x";

